*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

#mail{
    margin: 40px;

}

#container2{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    gap: 50px;
}